<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="ex">
    <input type="radio" value="one" name="one" v-model="checked">one
    <label for="one">
        <br>
        <input type="radio" value="two" name="two" v-model="checked">two
        <label for="two"></label>
        <span>{{checked}}</span>
</div>
<script>
    var vm = new Vue({
        el: '#ex',
        data: {
            checked: ''
        }
    })
</script>
</body>
</html>