<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
<section class="todoapp">
    <header class="todo">
        <h1>todo</h1>
        <input class="new-todo" autofocus autocomplete="off" placeholder="需要做什么？" v-model="newTodo" v-on:keyup.enter="addTodo">
    </header>
    <section class="main" v-show="todos.length">
        <ul class="todo-list">
            <li v-for="todo in todos" class="todo">
                <div class="view">
                    <label >{{todo.title}}</label>
                    <button class="destroy" v-on:click="removeTodo"></button>
                </div>
            </li>
        </ul>
    </section>
</section>
<script>
    var STORAGE_KEY2 = 'vuejs-study'
    var todolocalStorage = {
        fetch: function () {
            var todos = JSON.parse(localStorage.getItem(STORAGE_KEY2) || '[]')
            todos.forEach(function (todo, index) {
                todo.id = index
            })
            todolocalStorage.uid = todos.length
            return todos
        },
        save: function (todos) {
            return localStorage.setItem(STORAGE_KEY2, JSON.stringify(todos))
        }
    }
    var vm=new Vue({
        data:{
            todos:todolocalStorage.fetch(),
            newTodo:''
        },
        watch:{
            todos:{
                handler:function (todos) {
                    todolocalStorage.save(todos)
                },
                deep:true
            }
        },
        methods:{
            addTodo:function () {
                var value=this.newTodo&&this.newTodo.trim()
                if(!value){
                    return
                }
                this.todos.push({
                    id:todolocalStorage.uid++,
                    title:value
                })
                this.newTodo=''
            },
            removeTodo:function (todo) {
                this.todos.splice(this.todos.indexOf(todo),1)
            }
        }
    })
    vm.$mount('.todoapp')
</script>
</body>
</html>