<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <ol>
        <li>
            <span><input type="checkbox" v-model="selectAll"></span>
            <!--<input type="checkbox" v-bind:value="selectAll" v-on:input="selectAll=arguments[0]">-->
            <span align="left">all</span>
        </li>
        <li>
            <span><input type="checkbox" checked="12"></span>
            <span align="left">12</span>
        </li>
        <li v-for="answer in answers">
            <span>
                <input type="checkbox" v-model="selected" :value="answer.id">
            </span>
            <span>
                {{answer.name}}
            </span>
        </li>
    </ol>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            answers: [
                {id: 1, name: 'A'},
                {id: 2, name: 'B'},
                {id: 3, name: 'C'},
                {id: 4, name: 'D'}
            ],
            selected: []
        },
        computed: {
            selectAll: {
                get: function () {
                    return this.answers ? this.answers.length == this.selected.length : false
                },
                set: function (value) {
                    var selected = []
                    this.answers.forEach(function (user) {
                        selected.push(user.id)
                    })
                    this.selected = selected
                    //console.log(this.selected)
                }
            }
        }
    })
</script>
</body>
</html>