<!DOCTYPE html>
<html>

<head>
    <title>demo12</title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>个人信息</legend>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" v-model='newPeople.name'>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="text" v-model='newPeople.age'>
            </div>
            <div class="form-group">
                <label>Sex:</label>
                <select v-model='newPeople.sex'>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>
            <div class="form-group">
                <button v-on:click="addPeople">Add</button>
            </div>
        </fieldset>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Sex</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody v-for="person in people">
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.sex}}</td>
                    <td>
                        <button v-bind:class="text-center" v-on:click="deletePeople(this.index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        newPeople: {
            name: '',
            age: 0,
            sex: 'male'
        },
        people: [{
            name: 'liu',
            age: 14,
            sex: 'male'
        }, {
            name: 'li',
            age: 23,
            sex: 'female'
        }, {
            name: 'job',
            age: 45,
            sex: 'male'
        }]
    },
    methods: {
        addPeople: function() {
            this.people.push(this.newPeople)
            this.newPeople({
                name: '',
                age: 0,
                sex: 'male'
            })
        },
        deletePeople: function(index) {
            this.people.splice(index, 1)
        }
    }

})
</script>

</html>
